version: "3.9"

networks:
  microservices:
    driver: bridge

services:

  config-service:
    build: ./spring-cloud-config-service
    image: config-service:latest
    container_name: config-service-container
    volumes:
      - ~/.ssh/docker:/root/.ssh/id_rsa:ro
      - ~/.ssh/known_hosts:/root/.ssh/known_hosts:ro
    environment:
      - GIT_SSH_COMMAND=ssh -i /root/.ssh/id_rsa -o UserKnownHostsFile=/root/.ssh/known_hosts
    networks:
      - microservices
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health" ]
      interval: 5s
      timeout: 2s
      retries: 12

  eureka-neming-server:
    build: ./eureka-neming-server
    image: eureka-neming-server:latest
    container_name: eureka-neming-server-container
    environment:
      - CONFIG_SERVER_URL=${CONFIG_SERVER_URL}
    depends_on:
      config-service:
        condition: service_healthy
    networks:
      - microservices
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 5s
      timeout: 2s
      retries: 12

  api-gateway-service:
    build: ./api-gateway
    image: api-gateway-service:latest
    container_name: api-gateway-service-container
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_SERVER_URL=${CONFIG_SERVER_URL}
      - EUREKA_CLIENT=${EUREKA_CLIENT}
    ports:
      - "8080:8080"
    depends_on:
      eureka-neming-server:
        condition: service_healthy
    networks:
      - microservices
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 5s
      timeout: 2s
      retries: 12

  user-service:
    build: ./user-service
    image: user-service:latest
    container_name: user-service-container
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_SERVER_URL=${CONFIG_SERVER_URL}
      - EUREKA_CLIENT=${EUREKA_CLIENT}
      - USER_SERVICE_URL=${API_GATEWAY_SERVICE_URL}
    depends_on:
      api-gateway-service:
        condition: service_healthy
    networks:
      - microservices

  rh-service:
    build: ./rh-service
    image: rh-service:latest
    container_name: rh-service-container
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_SERVER_URL=${CONFIG_SERVER_URL}
      - EUREKA_CLIENT=${EUREKA_CLIENT}
    depends_on:
      api-gateway-service:
        condition: service_healthy
    networks:
      - microservices

  auth-service:
    build: ./auth-service
    image: auth-service:latest
    container_name: auth-service-container
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_SERVER_URL=${CONFIG_SERVER_URL}
      - EUREKA_CLIENT=${EUREKA_CLIENT}
    depends_on:
      api-gateway-service:
        condition: service_healthy
    networks:
      - microservices



